// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


$color1: rgba(5, 6, 32, 1);
$color2: rgba(49, 8, 31, 1);
$color3: rgba(112, 5, 72, 1);
$color4: rgba(137, 6, 32, 1);
$color5: rgba(150, 2, 0, 1);

//assets/config/stylesheets/config/colors.scss

$night: rgba(5, 6, 32, 1);
$sm: rgba(49, 8, 31, 1);
$myster: rgba(112, 5, 72, 1);
$passion: rgba(137, 6, 32, 1);
$love: rgba(150, 2, 0, 1);
