// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$night: rgba(5, 6, 32, 1);
$sm: rgba(49, 8, 31, 1);
$myster: rgba(112, 5, 72, 1);
$passion: rgba(137, 6, 32, 1);
$love: rgba(150, 2, 0, 1);

