a {
  color: #700548;
}

a:hover {
  color: #700548;
}


body {
  background-color:#fff;
  color:#ce3635;
  font-family: 'Roboto', sans-serif;
}
* { color:#ce3635; text-decoration: none;}

h1 h2 {
  font-family: 'Roboto', sans-serif;
}
